@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.container {
    border-radius: 10px;
    width: var(--pc-width);
    color: var(--text-pri);
    padding: 10px 40px;
    margin: 5px auto;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .container {
        width: var(--phone-width);
    }
}
